# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datos y modelos: los versiona DVC

# Credenciales (nunca se suben)
.env
kaggle.json

# Sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/